.doctors {
  padding-top: 4rem;
  padding-bottom: 6rem;

  & .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  
    & .box {
      text-align: center;
      background: $white;
      border-radius: 0.5rem;
      border: $border;
      box-shadow: $box-shadow;
      padding: 2rem;
  
      & img {
        height: 20rem;
        border: $border;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
  
      & h3 {
        color: $black;
        font-size: 2.5rem;
      }
  
      & span {
        color: $green;
        font-size: 1.5rem;
      }
  
      & .social {
        padding-top: 2rem;
  
        & a {
          height: 5rem;
          width: 5rem;
          line-height: 4.5rem;
          font-size: 2rem;
          color: $green;
          border-radius: 0.5rem;
          border: $border;
          margin: 0.3rem;
  
          &:hover {
            background: $green;
            color: $white;
            box-shadow: $box-shadow;
          }
        }
      }
    }
  }
  

}