@import 'config';
@import 'utilities';
@import 'services';
@import 'about';
@import 'doctors';
@import 'bookings';
@import 'review';
@import 'blogs';
@import 'footer';

.header {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $white;

  & .logo {
    font-size: 2.5rem;
    color: $black;

    & i {
      color: $green;
    }
  }

  & .navbar a {
    font-size: 1.7rem;
    color: $light-color;
    margin-left: 2rem;

    &:hover {
      color: $green;
    }
  }

  & #menu-btn {
    font-size: 2.5rem;
    border-radius: 0.5rem;
    background: #eee;
    color: $green;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
  }
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;

  & .image {
    flex: 1 1 45rem;

    & img {
      width: 100%;
    }
  }

  & .content {
    flex: 1 1 45rem;

    & h2 {
      font-size: 4.2rem;
      color: $black;
      line-height: 1.2;

      & span {
        color: $green;
      }
    }

    & p {
      font-size: 1.7rem;
      color: $light-color;
      line-height: 1.8;
      padding: 1rem 0;
    }
  }
}

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;

  & .icons {
    border: $border;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;
    text-align: center;
    padding: 2.5rem;

    & i {
      font-size: 4.5rem;
      color: $green;
      padding-bottom: 0.7rem;
    }

    & h2 {
      font-size: 4.5rem;
      color: $black;
      padding: 0.5rem 0;
    }

    & p {
      font-size: 1.7rem;
      color: $light-color;
    }
  }
}

@import 'responsive';
